<h2>{{ title }}</h2>
<form (submit)="addPost()">
    <input 
        type="text" 
        name="inputPost"
        placeholder="Enter Post"
        class="post-input"
        [(ngModel)]="inputPost"
    >
    <input type="submit" value="Save" class="post-submit" />
</form>
<div class="posts">
    <div class="post" *ngFor="let post of posts; let i = index;">
        <div class="id">{{ i }} </div>
        <div class="content">{{ post.content }}</div>
        <div class="public">{{ post.public? "Public" : "Private"}} <button class="toggle-public-btn" (click)="togglePublic(i)">Set to {{ post.public? "private" : "public"}}</button></div>
        <button class="delete" (click)="deletePost(i)">X</button>
    </div>
</div>
