.posts, .posts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    width: 500px;
}
.post{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #DDD;
    border-radius: 10px;
    width: 500px;
    gap:10px;
}

.post:last-of-type{
    border-bottom: 0;
}
.post .content{
    flex: 1 1 100%;
}
.post-input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    appearance: none;
    border: none;
    background-color: #F3F3F3;
    margin-top: 15px;
    font-size: 20px;
    outline: none;
}
.post-submit{
    display: block;
    width: 100%;
    max-width: 200px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    background-color: #FE4880;
    color: #FFF;
    margin: 15px auto;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
}
.btn{
    width: 50px;
}